altgraph==0.10.2
attrs==17.4.0
backports-abc==0.5
bdist-mpkg==0.5.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
coverage==4.5.1
Django==1.11.10
django-bootstrap-breadcrumbs==0.9.0
django-bootstrap3==9.1.0
django-bower==5.2.0
django-common-helpers==0.9.1
django-cron==0.5.0
django-crontab==0.7.1
django-debug-toolbar==1.9.1
django-extensions==2.0.6
django-graphos==0.3.41
docopt==0.6.2
dominate==2.3.1
enum34==1.1.6
ez-setup==0.9
flake8==3.5.0
flake8-polyfill==1.0.2
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
funcsigs==1.0.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kronos==0.2.2
lxml==4.1.1
macholib==1.5.1
mando==0.6.4
MarkupSafe==1.0
mccabe==0.6.1
modulegraph==0.10.4
MySQL-python==1.2.5
nose==1.3.7
numpy==1.15.0rc1
pbr==3.1.1
pep8==1.7.1
Pillow==5.0.0
pipreqs==0.4.9
pluggy==0.6.0
py==1.5.2
py2app==0.7.3
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.0.1
python-crontab==2.2.8
python-dateutil==1.5
pytz==2013.7
radon==2.2.0
requests==2.18.4
scipy==1.1.0rc1
selenium==3.9.0
singledispatch==3.4.0.3
six==1.4.1
sqlparse==0.2.4
tornado==4.5.3
typing==3.6.4
urllib3==1.22
Werkzeug==0.14.1
wget==3.2
xattr==0.6.4
yarg==0.1.9
zope.interface==4.1.1
django_modalview==0.1.6