{% extends "../templates/inicio/base_inicio.html" %}

{% block titulo %} Identificarse {% endblock %}

{% block nombre_usuario %}
	<div class="div_name"></div>
{% endblock %}
{% block contenido %}

	{% if errors %} 
		<ul>
			{% for error in errors %}
				<li style="color: red;">{{ error }}</li> 
			{% endfor %}
		</ul>
	{% endif %}
	<div>
		<form method="post" id="login-form">
			{% csrf_token %}
			<table>
				{{ form.as_table }}
			</table>
			<a href="/recover">Recuperar contraseña</a>
			<input type="submit" name="Enviar">
			<input type="button" onclick="window.location.replace('/index/')" value="Cancelar" />
		</form>
	</div>
{% endblock %}