{% extends "../templates/inicio/base_inicio.html" %}

{% block titulo %} Registro {% endblock %}

{% block detalle %}
	{% if errors %} 
		<ul>
			{% for error in errors %}
				<li style="color: red;">{{ error }}</li> 
			{% endfor %}
		</ul>
	{% endif %}
	<div>
		<form method="post" id="login-form">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="Registrar" id="registrar" value="Registrar">
			<input type="button" onclick="window.location.replace('/index/')" value="Cancelar" />
		</form>
	</div>
{% endblock %}