{% extends "./base.html" %}

{% load static %}

{% block titulo %}SACS{% endblock %}

{% block contenido %}
<div class="description-index">
<div>
	La herramienta de soporte al aseguramiento de la calidad permite a los desarrolladores configurar un proyecto acorde a las necesidades del proyecto y de la empresa, ayudando en la gestión de los indicadores de la calidad, permitiendo identificar situaciones criticas.	<strong style="align-content: center;"> SACS permite:</strong>
	<ol>
		<li>
			Segumiento a métricas de calidad de tu producto.
			<img style="width: 10%; margin: auto; border-radius: 20%" src="{% static "images/measure.png" %}">
		</li>
		<li>
			Asignar y evaluar criterios para la aceptación de tus productos.
			<img style="width: 10%; margin: auto;" src="{% static "images/checklist.png" %}">
		</li>
		<li>
			Facilita el trabajo en equipo asignando tareas especificas y personal adecuado.
			<img style="width: 10%; margin: auto; border-radius: 20%" src="{% static "images/puzzle.jpg" %}">
		</li>
		<li>
			Registrar tus eventos y recordar a los asistentes antes de iniciar el evento.
			<img style="width: 10%; margin: auto; border-radius: 20%" src="{% static "images/schedule.png" %}">
		</li>
	</ol>
</div>
</div>
{% endblock %}