{% extends "../templates/fase/base_fase.html" %}

{% load static %}
{% block titulo %} {{ producto_de_trabajo.fase.proyecto }} {% endblock %}
{% block detalle %}
	<div class="title">
		<h3> Criterios de aceptación de {{ producto_de_trabajo }}</h3>
	</div>
	<div class="div_document">
		<h3>Documento cargado</h3>
		{% if producto_de_trabajo.get_url %}
			<iframe style="width: 100%; height: 60%; margin: 1rem;" src="http://localhost:8000/media/{{ producto_de_trabajo.get_url }}"></iframe>
		{% else %}
			No se ha cargado el archivo...
		{% endif %}
	</div>
	<hr>
	<div class="div_rigth">
		<h3>Listado de criterios</h3>
		{% if producto_de_trabajo.get_template %} <!-- revisa si hay una plantilla pra el producto-->
			<a href="" class="modalwindow" data-id="{{ producto_de_trabajo.producto.id }}" >Ver plantilla</a>
		{% endif %}
		{% for criterio in criterios %} 
			<div class="criterioslist">
				<div class="criterio_estatus">
					{% if allowVerification %} <!-- revisa si tiene permiso de actualizar criterio-->
						{%if producto_de_trabajo.estatus.valor < 4 %}<!-- revisa si el producto no se encuentra validado-->
							<input type="checkbox" class="check_criteria" id="customControlValidation{{ criterio.id }}" data-id="{{ criterio.id }}" {% if criterio.estatus %}checked{% endif %}>
						{% else %}
							{% if criterio.estatus %}
								<i class="icon-check"></i>
							{% else %}
								<i class="icon-check-empty"></i>
							{% endif %}
					    {% endif %}
					{% else %}
						{% if criterio.estatus %}
							<i class="icon-check"></i>
						{% else %}
							<i class="icon-check-empty"></i>
						{% endif %}
					{% endif %}
					<label for="customControlValidation{{ criterio.id }}"><strong>{{ criterio }}</strong></label>
				</div>
				<div class="criterio_description">
					{{ criterio.descripcion }}
				</div>
			</div>
		{% empty %}
			<p>No hay criterios de aceptación asignados.</p>
		{% endfor %}
		{% if allowValidation %} <!-- revisa si tiene permiso de confirmar cumplimiento de criterios-->
			<a name="commit_criteria" class="btn btn-primary" href="/evaluar/producto/criterios/confirmar/{{producto_de_trabajo.id}}"" role="button">Confirmár criterios</a>
		{% endif %}
	</div>
	<div id="modal" class="modal" style="display: none;">
		<div class="modalbackground"></div>
		<div id="modalcontent" class="modalcontent">
			<div class="title"><h3>Plantilla de ayuda de {{ producto_de_trabajo }} </h3></div>
			<iframe class="iframe" src="http://localhost:8000/media/{{ producto_de_trabajo.get_template }}"></iframe>
		</div>
	</div>
{% endblock %}