{% extends "../templates/fase/base_fase.html" %}

{% load static %}

{% block titulo %} {{proyecto}} {% endblock %}

{% block detalle %}
	<div class="">
		<div class="title"><h3>Fases disponibles</h3></div>
		{% for fase in fases %} 
			<div class="fasestage">
				<a href="/evaluar/fase/{{ fase.id }}/" class="see_fase">
					<img class="add_button" src="{% static "images/phase-icon.png" %}">
					{{ fase }}
				</a>
				<br>
				<i class="icon-list-ol"></i> {{ fase.productosDeTrabajo.count }} Productos agregados
				<br>
				<i class="icon-check"></i> {{ fase.productosVerificados }} de {{ fase.productosDeTrabajo.count }} pasan revisión de crierios
				<br>
				<i class="icon-calendar"></i> {{ fase.fecha_de_inicio }} a {{ fase.fecha_de_cierre }}
			</div>
			{% if not forloop.last %}
	    	<div class="fasearrow">
	    		<i class="icon-chevron-sign-right icon-3x images"></i>
	    	</div>
	    	{% endif %}
		{% empty %}
			<p>No hay fases a evaluar.</p>
		{% endfor %}
	</div>
{% endblock %}