{% extends "../templates/fase/base_fase.html" %}

{% block titulo %} Proyectos asignados {% endblock %}

{% block detalle %}
	<div>
		<div class="title"><h3>Proyectos disponibles</h3></div>
		{% for proyecto in proyectos %} 
			<div class="proyectoslist list">
				<a href="/evaluar/proyecto/{{ proyecto.id }}/" class="see_proyecto">
					<i class="icon-folder-open-alt icon-3x"></i>
					{{ proyecto }}
				</a>
			</div>
		{% empty %}
			<p>No tienes proyectos que esten en fase de seguimiento.</p>
		{% endfor %}
	</div>
{% endblock %}