{% extends "../templates/fase/base_fase.html" %}

{% load static %}
{% block titulo %} {{ producto_de_trabajo.fase.proyecto }} {% endblock %}
{% block detalle %}
	<div class="title"><h3> Métricas de {{ producto_de_trabajo }} </h3></div>
	<hr>
	<div class="alert alert-info alert-dismissible">
  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  		<strong>Info!</strong><br>
  		<p><strong>Dato obtenido: </strong> Indica el valor respectivo a cada métrica, obtenido apartir de la revisión de producto.</p>
  		<p><strong>Índice: </strong> Indica el valor optimo de cada métrica.</p>
  		<p><strong>Límite superior: </strong> Indica el valor máximo que puede alcanzar cumpliendo satisfactoriamente con métrica.</p>
  		<p><strong>Límite inferior: </strong> Indica el valor minimo que puede alcanzar cumpliendo satisfactoriamente con métrica.</p>
	</div>
	<div class="">
		{% for row in metricasList %} 
		<hr>
		<div class="metric_container">
			<br>
			<div>
				<h3>{{ row.metrica }}</h3>
				<strong>Descripción : </strong>{{ row.metrica.descripcion }}<br>
				<strong>Resultado obtenido : </strong>{{ row.metrica.desviacion_porcentual }}% de desviación del índice.
				<br>
				<button type="button" class="btn btn-primary modal-window-action" data-toggle="modal" data-target="#exampleModalLong" data-id="{{ row.metrica.id }}">
				  Acciones correctivas
				</button>
			</div>
			{% if perms.inicio.add_historicodemetrica %}
				{% if row.form %}
					<div class="data-input" >
						<div class='alert alert-warning'>
							Falta actualizar el dato de {{ row.metrica}}, ingrese el último resultado obtenido correspondiente a esta métrica.
						</div>
						<form name="item_update_form" id="item_update_form" method="post" >
							{% csrf_token %}
							<table>
								{{ row.form.as_table }}
							</table>
							<input type="submit" name="guardar" id="guardar" value="Registrar">
						</form>
					</div>
				{% endif %}
			{% endif %}
			<div class="chartgraph">{{ row.metrica.chart.as_html }}
			</div>
		</div>
		{% empty %}
			<p>No hay métricas asignadas.</p>
		{% endfor %}
	</div>
	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	  	<div class="modal-dialog  modal-lg" style="margin: 15rem auto;" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h3 class="modal-title" >Historico de acciones correctivas</h3>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div id="modal-body" class="modal-body">
		      	<img class="add_button" src="{% static "images/loading.gif" %}">
		      </div>
		      <div class="modal-footer">
		        <button id="add_action" type="button" class="btn btn-primary" data-id=""><span class="glyphicon glyphicon-plus"></span> Agregar acción</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
	  	</div>
	</div>
	<div id="modal" class="modal2 modal" style="display: none;"  tabindex="-2">
		<div class="modalbackground"><br></div>
		<div id="modalcontent" class="modalcontent" tabindex="-1">
		      <div class="modal-header">
		        <h3 class="title" >Registrar acción correctiva</h3>
		        <button type="button" class="close close-modal" >
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
			<div id="modal-content">
			</div>
		</div>
	</div>

{% endblock %}