{% extends "../templates/inicio/base_inicio.html" %}

{% load static %}
{% load humanize %}

{% block titulo %} {{ producto.fase.proyecto }} {% endblock %}

{% block detalle %} 
	<div class="div_left">
		<div>
			<div class="title"><h3>Criterios asignados</h3></div>
			{% for criterio in criterios %} 
				<div class="list">
					<div>
						<p><strong>Criterio :</strong> {{ criterio.criterio }}</p>
						<p><strong>Descripción : </strong>{{ criterio.descripcion }}</p>
					</div>
					<a href="/administrar/proyecto/criterio/delete/{{ criterio.id }}/" class="delete_criteria">
						<img class="add_button" src="{% static "images/delete-icon.png" %}" title="Eliminar criterio">
					</a>
				</div>
			{% empty %}
				<p>No hay criterios asignados.</p>
			{% endfor %}
			<div class="div_add_item">
				<a href="/administrar/proyecto/fase/producto/criterios/{{ producto.id }}" id="agregar_criterio" name="agregar_criterio">
					<img class="add_button images" src="{% static "images/add-icon.png" %}" title="Agregar criterio">
				</a>
			</div>
		</div>
		<div>
			<div class="title"><h3>Métricas asignadas</h3></div>
			{% for metrica in metricas %} 
				<div class="list">
					<div>
						<p><strong>Métrica :</strong> {{ metrica }}</p>
						<p><strong>Descripción : </strong>{{ metrica.descripcion }}</p>
						<p><strong>Indice :</strong> {{ metrica.indice }}</p>
						<p><strong>Límite superior :</strong> {{ metrica.limite_superior }}</p>
						<p><strong>Límite inferior :</strong> {{ metrica.limite_inferior }}</p>
					</div>
					<a href="/administrar/proyecto/fase/producto/metrica/editar/{{ metrica.id }}">
							<img class="add_button" src="{% static "images/edit-icon.png" %}" title="Métrica producto">
					</a>
					<a href="/administrar/proyecto/metrica/delete/{{ metrica.id }}/" class="delete_metric">
						<img class="add_button" src="{% static "images/delete-icon.png" %}" title="Eliminar métrica">
					</a>
				</div>
			{% empty %}
				<p>No hay metricas asignadas.</p>
			{% endfor %}
			<div class="div_add_item">
				<a href="/administrar/proyecto/fase/producto/metricas/{{ producto.id }}" id="agregar_metrica" name="agregar_metrica">
					<img class="add_button images" src="{% static "images/add-icon.png" %}" title="Agregar métrica">
				</a>
			</div>
		</div>
	</div>
	<div class="div_rigth">
		<div class="title"><h3>Datos de producto</h3></div>
			<p><strong>Producto de trabajo : </strong>{{ producto }} </p> 
			<p><strong>Nombre de archivo : </strong>{{ producto.get_nombre }}
			    {% if producto.get_url != False  %}
			    <a href="/media/{{ producto.get_url }}" target="_blank">
				<img class="add_button" src="{% static "images/eye-icon.png" %}" title="Ver documento">
			    </a>
			    {% endif %}
			</p> 
			<p><strong>Estátus : </strong>{{ producto.estatus }}</p>
			
	</div>
{% endblock %}