{% extends "../templates/inicio/base_inicio.html" %}

{% load static %}
{% load humanize %}

{% block titulo %} {{proyecto}} {% endblock %}

{% block detalle %}
{% autoescape off %}
	<div class="">
		<div class="title"><h3>Datos de proyecto</h3></div>
		<p><strong>Proyecto : </strong> {{ proyecto.nombre|safe }}</p>
		<p><strong>Cliente : </strong>{{ proyecto.cliente }}</p>
	</div>
	<div class="">
		<div class="title"><h3>Calendario de eventos registrados</h3></div>
		<div><p class="text-dark"><strong>Seleccione la fecha para asignar un nuevo evento, o seleccione el evento para ver los detalles.</strong></p></div>
		<div>
			{{ calendar }}
		</div>
		<div class="mont">
			<a href="{{ anterior }}"> <i class="icon-double-angle-left"></i> Anterior </a>
			<a href="{{ hoy }}"> Hoy </a>
			<a href="{{ siguiente }}"> Siguiente <i class="icon-double-angle-right"></i></a>
		</div>
		</br>
	</div>
{% endautoescape %}
{% endblock %}	
