{% extends "../templates/inicio/base_inicio.html" %}

{% load static %}

{% block titulo %} {{ fase.proyecto }} {% endblock %}

{% block detalle %}
	<div class="">
		<div class="title"><h3>Productos de trabajo agregados</h3></div>
		{% for producto in productos_de_fase %} 
			<div class="productoslist list">
					<div class="">
						<p> <strong>Producto de trabajo : </strong>{{ producto }}</p>
						 {% if producto.get_nombre %} 
							<p><strong>Nombre de archivo :</strong> {{ producto.get_nombre }}</p>
						{% endif %}
						<p> <strong>Ultima actualización : </strong>{{ producto.ultima_actualizacion }}</p>
						<p><strong>Estátus : </strong>{{ producto.estatus }}
							{% if producto.estatus.valor == 0 %}
								<i class="icon-remove"></i>
							{% else %}
								<i class="icon-ok"></i>
							{% endif %}
							<span title="{{ producto.estatus.descripcion }}"><i class="icon-question-sign"></i></span>
						</p>
						<p> <strong>Métricas asignadas : </strong>{{ producto.metricas.count }}</p>
						<p> <strong>Criterios asignados : </strong>{{ producto.criterios.count }}</p>
					</div>
					<div class="">
						{% if producto.get_url != None and producto.get_url != False  %} 
							<a href="/media/{{ producto.get_url }}" target="_blank">
								<img class="add_button" src="{% static "images/eye-icon.png" %}" title="Ver producto">
							</a>
						{% endif %}
						<a href="/administrar/proyecto/fase/producto/{{ producto.id }}" class="see_detalle_producto">
							<img class="add_button" src="{% static "images/see-icon.png" %}" title="Ver metricas y criterios">
						</a>
						<a href="/administrar/proyecto/fase/producto/editar/{{ producto.id }}">
							<img class="add_button" src="{% static "images/edit-icon.png" %}" title="Actualizar producto">
						</a>
						<a href="/administrar/proyecto/producto/delete/{{ producto.id }}" class="delete_product">
							<img class="add_button" src="{% static "images/delete-icon.png" %}" title="Eliminar producto">
						</a>
					</div>
			</div>
		{% empty %}
			<p>No hay productos agregados.</p>
		{% endfor %}
		<div class="div_add_item">
			<div>
				<a href="/administrar/proyecto/fase/productos/agregar/{{fase.id}}" id="agregar_producto" name="agregar_producto">
					<img class="add_button" src="{% static "images/add-icon.png" %}" title="Agregar producto">
				</a>
			</div>
		</div>
	</div>
{% endblock %}	
