    {% extends "../templates/inicio/base_inicio.html" %}

{% load static %}

{% block titulo %} {{proyecto}} {% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block detalle %}
	<div class="div_left">
		<div class="title"><h3>Roles agregados al proyecto</h3></div>
		{% for rol_de_proyecto in roles %} 
			<div class="rollist list">
				<div class="roldescripcion">
					<i class="icon-user "></i>
					<p><strong>Rol : </strong>{{ rol_de_proyecto }} </p>
					<p><strong>Descripción : </strong>{{ rol_de_proyecto.rol.descripcion }} </p>
					<p><strong>Usuario : </strong>{{ rol_de_proyecto.usuario.username }}</p>
					<p><strong>Correo electrónico : </strong>{{ rol_de_proyecto.usuario.email }}</p>
					{% if rol_de_proyecto.enterado %}
						<p> Enterado desde {{ rol_de_proyecto.fecha_de_enterado }} </p>
					{% endif %}
				</div>
				<div class="rolmenu">
					<a href="/administrar/proyecto/rol/delete/{{ rol_de_proyecto.id }}/" class="delete_rol">
						<img class="add_button images" src="{% static "images/delete-icon.png" %}" title="Eliminar rol">
					</a>
				</div>
			</div>
		{% empty %}
			<p>No hay roles registrados.</p>
		{% endfor %}
		<div class="div_add_item">
			<div>
				<a href="/administrar/proyecto/roles/registrar/{{proyecto.id}}" name="add_rol" class="add_rol">
					<img class="add_button images" src="{% static "images/add-icon.png" %}" title="Agregar rol">
				</a>
			</div>
		</div>
	</div>
	<div class="div_rigth">
		<div class="title"><h3>Datos del proyecto</h3></div>
		<p><strong>Proyecto : </strong>{{ proyecto.nombre }}</p>
		<p><strong>Cliente : </strong>{{ proyecto.cliente }}</p>
	</div>
{% endblock %}	
