{% extends "../templates/inicio/base_inicio.html" %}

{% load static %}
{% load humanize %}

{% block titulo %} {{proyecto}} {% endblock %}

{% block detalle %}
	<div class="div_left">
		<div class="title"><h3>{{ evento }}</h3></div>
			<div class="eventoslist list">
				<div class="descripcion">
					<p>Tipo de evento : {{ evento }} </p>
					<p>Asunto : {{ evento.asunto }} </p>
					<p>Fecha : {{ evento.fecha }}</p>
					<p>Hora : {{ evento.hora }}</p>
					<p>Asistentes : 
						{% for asistente in evento.asistentes.all %}  
							{{ asistente }} 
							{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</p>
				</div>
				<div class="menu">
					<a href="/administrar/proyecto/evento/delete/{{ evento.id }}/" class="delete_metric">
					<img class="add_button images" src="{% static "images/delete-icon.png" %}" title="Eliminar evento">
					</a>
				</div>
			</div>
	</div>
	<div class="div_rigth">
		<div class="title"><h3>Proyecto</h3></div>
		<p>Proyecto : {{ proyecto.nombre|safe }}</p>
		<p>Cliente : {{ proyecto.cliente }}</p>
	</div>
{% endblock %}	