{% extends "../templates/inicio/base_inicio.html" %}

{% block titulo %} {{ proyecto.nombre }} {% endblock %}

{% block detalle %}
	{% if errors %} 
		<div>
			<h5><strong>Para poder autorizar la configuración, resuelva los siguietes mensajes.</strong></h5>
		<ul>
			{% for error in errors %}
				<li style="color: red;">{{ error }}</li> 
			{% endfor %}
		</ul>
		<a href="/administrar/inicio" class="btn btn-secondary btn-lg ">Regresar</a>
	{% else %}
		<div>
			<h5><strong>ATENCIÓN! Cuando el proyecto se marque cómo autorizado, se notificará a los usuarios y se mostrará en el módulo de revisión de proyectos. </strong></h5>
 			<form id="" method="post">
				{% csrf_token %}
				<table>
					{{ form.as_table }}
				</table>
				<input type="submit" name="guardar" id="guardar" value="Guardar" class="btn btn-secondary btn-lg ">
				<button onclick="" class="btn btn-secondary btn-lg " name="cancelar">Cancelar</button>
			</form>
		</div>
	{% endif %}
{% endblock %}